@import "tailwindcss";

.bg-image{
    background-image: url("../public/background_banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
}
.landing-image{
    background-image: url("../public/backgroundImage.png");
    background-position: center;
    background-repeat: no-repeat;
}
.pad-con{
    padding: 30px 10%;
}

/* index.css yoki App.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer */
  scrollbar-width: none;     /* Firefox */
}
